/** Configurações Gerais para normalização **/

@charset "utf-8";
figure {
    margin-bottom: 0px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: middle;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

a:active,
a:hover,
input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: 0;
    text-decoration: none;
    color: initial;
}

img {
    object-fit: cover;
}

li {
    list-style: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    color: #000;
    background: #eee;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font: inherit;
    color: inherit;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font: inherit;
    color: inherit;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font: inherit;
    color: inherit;
}


/** Configurações para impressão **/

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    nav,
    aside {
        display: none;
    }
    body,
    article {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100%;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .wq-menu_principal {
        display: none;
    }
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

.tabela-acompanhe-resultados .btn-secondary:not(:disabled):not(.disabled):active,
.tabela-acompanhe-resultados .btn-secondary:not(:disabled):not(.disabled).active,
.show>.tabela-acompanhe-resultados .btn-secondary.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

figure {
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-expand-lg {
    padding: 0;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.card {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

.dropdown-toggle::after {
    font-family: Flaticon;
    content: '\f116';
    display: inline-flex;
    align-items: center;
    margin-left: 2px;
    vertical-align: middle;
    border: none;
    transform: rotate(-90deg);
}

.nav-link {
    padding: 0!important;
}

.dropdown-menu {
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn;
    animation-duration: 1s;
    margin: 0;
    background-color: transparent;
    border: none;
    padding-top: 5px;
}

.dropdown:hover .dropdown-menu ul {
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
    padding: 0;
}

.navbar-light .navbar-toggler img {
    display: block;
    height: 30px;
}

.nav-tabs {
    border: none;
}

.tabs-btn {
    display: inline-block;
    margin: 5px;
}